# This is an allow list. Every file is ignored by default unless excluded.
*

!src/
!src/**/*

!static/
!static/**/*

!.editorconfig
!.gitattributes
!.gitignore
!.prettierignore
!.prettierrc
!eslint.config.js
!LICENSE.txt
!package.json
!README.md
!svelte.config.js
!tsconfig.json
!vite.config.ts
!pnpm-lock.yaml
