# This is an allow list. Every file is ignored by default unless excluded.
*

!.yarn/
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

!src/
!src/**/*

!static/
!static/**/*

!.editorconfig
!.gitattributes
!.gitignore
!.prettierignore
!.prettierrc
!eslint.config.js
!LICENSE.txt
!package.json
!README.md
!svelte.config.js
!tsconfig.json
!vite.config.ts
!yarn.lock
!.yarnrc.yml
